{% extends "base.njk" %}
{% block title %}Submit{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      Submit a New Data Portal
    </h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Please review the <a href="/search">current catalog</a> before submitting a new data portal proposal. Otherwise, new data portal information can be submitted on our Github repository:</p>
      <br>
      <p><a href="https://github.com/okfn/dataportals.org/issues/new" class="btn btn-primary" role="button">Add a Portal</a></p>
    </div>
  </div>
{% endblock %}
