---
# https://www.11ty.dev/docs/pagination/#paginate-a-global-or-local-data-file
pagination:
  data: catalogs
  size: 1
  alias: catalog
# https://www.11ty.dev/docs/pagination/#remapping-with-permalinks
permalink: "/portal/{{ catalog.id }}/"
---

{% extends "base.njk" %}

{% block title %}{{catalog.title}}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {{catalog.title}}
    </h1>
    <p><a href="/search">&larr; Return to results</a></p>
  </div>
  <div class="row">
        <div class="col-md-4">
            <h2 style="margin-top: 0">Description</h2>
            <p>{{ catalog.description_html|safe }}</p>
            <br>
        </div>

        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    Area covered:
                </dt>
                <dd>
                    {{ catalog.place }}
                </dd>
                <dt>
                    Publisher:
                </dt>
                <dd>
                    {{ catalog.publisher }}</a>
                </dd>
                <dt>
                    URL:
                </dt>
                <dd class="break-url">
                    <a href="{{ catalog.url }}">{{ catalog.url }}</a>
                </dd>
                <dt>
                    Issued:
                </dt>
                <dd>
                    {{ catalog.issued }}&thinsp;
                </dd>
                <dt>
                    Status:
                </dt>
                <dd>
                    {{ catalog.status }}&thinsp;
                </dd>
                <dt>
                    Classification:
                </dt>
                <dd>
                    {{ catalog.publisherclassification }}&thinsp;
                </dd>
                <dt>
                    License:
                </dt>
                <dd class="break-url">
                    <a href="{{ catalog.licenseurl }}">{{ catalog.licenseid }}</a>&thinsp;
                </dd>
                <dt>
                    Country/Language:
                </dt>
                <dd>
                    <span class="label label-info">
                        {{ catalog.country }}
                    </span>
                    &nbsp;/
                    <span class="label label-info">
                        {{ catalog.language }}
                    </span>
                    &thinsp;
                </dd>
                <dt>
                    Tags:
                </dt>
                <dd>
                      {% for kw in catalog.tags or [] %}
                        {% if kw %}
                            <span class="label label-primary">{{kw}}</span>
                        {% endif %}
                      {% endfor %}&thinsp;
                </dd>
                <dt>
                    Portal software:
                </dt>
                <dd>
                    {{ catalog.generator }}&thinsp;
                </dd>
                <dt>
                    API Type:
                </dt>
                <dd>
                    {{ catalog.api_type }}&thinsp;
                </dd>
                <dt>
                    API Endpoint:
                </dt>
                <dd class="break-url">
                    <a href="{{ catalog.api_endpoint }}">{{ catalog.api_endpoint }}</a>&thinsp;
                </dd>
                <dt>
                    Metadata download:
                </dt>
                <dd class="break-url">
                    <a href="{{ catalog.full_metadata_download }}">{{ catalog.full_metadata_download }}</a>&thinsp;
                </dd>

            </dl>
        </div>
  </div>
{% endblock %}
