{% extends "base.njk" %}
{% block title %}Contribute{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>
      Contribute to DataPortals.org
    </h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% markdownFile "contribute.md" %}
    </div>
  </div>
{% endblock %}
