{% extends "base.njk" %}
{% block title %}Contribute{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    Contribute to DataPortals.org
  </h1>
</div>
<div class="row">
  <div class="col-md-12">
    <section>
      <p>You can help build a comprehensive list of <a href="https://opendefinition.org/">Open Data</a> portals from around the world by:</p>
      <ol>
        <a href="#add-an-individual-portal"><li>Adding an individual portal</li></a>
        <a href="#correcting-information"><li>Correcting information about an existing portal</li></a>
        <a href="#adding-portals-in-bulk"><li>Adding portals in bulk</li></a>
        <a href="#report-an-issue"><li>Reporting an issue or making a suggestion</li></a>
        <a href="#become-an-editor"><li>Becoming an editor</li></a>
      </ol>
    </section>

    <a id="add-an-individual-portal"></a>
    <section>
      <h3>1. Add an Individual Portal</h3>
        <p>You can add a portal by:</p>
        <ol>
          <li>Submitting an issue on Github</li>
          <li>Using Data Explorer</li>
          <li>Submitting a pull request on GitHub</li>
        </ol>

        <h4>How to Submit a Portal as a Github Issue</h4>

        <p>Press the button below to get started. This will redirect your browser to a page that will create a new <a href="https://help.github.com/articles/creating-an-issue/">Github issue</a> for review.</p>

        <p><a href="https://github.com/okfn/dataportals.org/issues/new" class="btn btn-primary" role="button">Add a Portal</a></p>

        <h5>What happens next?</h5>
        <p>The issue will be reviewed by and incorporated into DataPortals.org pending no data errors.</p>

      <h4>How to Add a Portal Using <a href="https://explorer.okfnlabs.org/">Data Explorer</a></h4>
      <p><em>Coming soon...</em></p>

      <h4>How to Submit a Portal as a Pull Request on GitHub</h4>
      <p><em>Coming soon...</em></p>
    </section>

    <a id="correcting-information"></a>
    <section>
    <h3>2. Correcting information about a portal</h3>
      <p>You can add a portal by:</p>
      <ol>
        <li>Submitting an issue on Github</li>
        <li>Using Data Explorer</li>
        <li>Submitting a pull request on GitHub</li>
      </ol>

      <h4>Correct portal information using Data Explorer</h4>
      <p><em>Coming soon...</em></p>

      <h4>Correct portal information using a pull request on GitHub</h4>
      <p><em>Coming soon...</em></p>
    </section>

    <a id="adding-portals-in-bulk"></a>
    <section>
    <h3>3. Adding portals in bulk</h3>
      <p>Portal information can be added in bulk using a pull request on GitHub</p>
      <p><em>Coming soon...</em></p>
    </section>

    <a id="report-an-issue"></a>
    <section>
    <h3>4. Report an issue or make a suggestion</h3>

      <h4>Report an issue</h4>
      <p>You can <a href="https://github.com/okfn/dataportals.org/issues">report an issue with the website on GitHub</a>.</p>
      <p><em>Coming soon...</em></p>

      <h4>Make a suggestion</h4>
      <p><a href="https://discuss.okfn.org/c/open-knowledge-labs/dataportals">Join the conversation</a> about DataPortals.org on the <a href="https://discuss.okfn.org/">Open Knowledge Forum</a>. Report an issue, make a suggestion and discover like-minded people working on <a href="https://okfn.org/">Open Knowledge projects</a>.</p>
    </section>

    <a id="become-an-editor"></a>
    <section>
    <h3>5. Become an Editor</h3>
      <p>We can always use some help. Editors review submissions for accuracy. You can choose to focus on a country or region to make the task more manageable. Every little contribution helps us build a comprehensive list of open data portals around the world.</p>

      <!-- <p>Editors should:</p>
      <ul>
        <li>list of required skills/values</li>
      </ul>

      <p>If you’d like to help as an Editor [contact us somehow]</p> -->

      <hr>

    <p><strong>Thank you for contributing to DataPortals.org!</strong></p>
  </div>
</div>
{% endblock %}
