{% extends "base.njk" %}

{% block content %}
  <div class="page-header">
    <h1>
      Data Portals &nbsp;<small>A Comprehensive List of <a href="https://opendefinition.org/">Open Data</a> Portals from Around the World</small>
    </h1>
  </div>
  <div class="row home-map">
    <div class="col-md-12">
      <h3 class="heading"><a href="/search">{{total}} Data Portals listed &raquo;</a></h3>
      <div class="query-editor-here"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="overview-map"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/vendor/recline/vendor/underscore/1.4.4/underscore.js"></script>
<script type="text/javascript" src="/vendor/recline/vendor/backbone/1.0.0/backbone.js"></script>
<script type="text/javascript" src="/vendor/recline/vendor/mustache/0.5.0-dev/mustache.js"></script>
<script type="text/javascript" src="/vendor/recline/vendor/leaflet/0.7.3/leaflet.js"></script>
<script type="text/javascript" src="/vendor/recline/vendor/leaflet.markercluster/leaflet.markercluster.js"></script>
<script type="text/javascript" src="/vendor/recline/vendor/slickgrid/2.2/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/vendor/recline/dist/recline.js"></script>

<script src="/js/app.js"></script>
{% endblock %}
