{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h2>About DataPortals.org</h2>

<p>
DataPortals.org is the most comprehensive list of 
<a href="http://okfn.org/opendata">open data</a> portals in the world. 
It is curated by a group of leading open data experts from around the world - 
including representatives from local, regional and national governments, 
international organisations such as the World Bank, and numerous NGOs.
</p>

<p>
The alpha version of DataPortals.org was launched at 
<a href="http://okcon.org/2011">OKCon 2011</a>
in Berlin. We have plenty of useful improvements and features in the pipeline, 
which will be launched over the coming months.
</p>

<p>
If you have an idea for a feature you think we should add, please let us know via the 
<a href="https://discuss.okfn.org/c/open-knowledge-labs/dataportals">discussion forum</a>.
</p>

<h2 id="curators-heading">Curators</h2>
<ul id="curators">
    <li>Antonio Acuña, 
        <a href="http://data.gov.uk/">data.gov.uk</a> (<strong>UK</strong>)
    </li>
    <li>Jose Manuel Alonso, 
        <a href="http://www.webfoundation.org/">Web Foundation</a> (<strong>Spain</strong>)
    </li>
    <li>
        Tony Bowden, 
        <a href="http://www.mysociety.org/">mySociety</a> (<strong>UK</strong>) 
    </li>
    <li>Lisa Cornish, 
        <a href="http://data.gov.au/">data.gov.au</a> (<strong>Australia</strong>)
    </li>
    <li>Richard Cyganiak,
        <a href="http://www.deri.ie">DERI</a> (<strong>Ireland</strong>)
    </li>
    <li>Daniel Dietrich, 
        <a href="http://okfn.org/">Open Knowledge International</a> (<strong>Germany</strong>)
    </li>
    <li>John Erickson, <a href="http://www.rpi.edu/">RPI</a> (<strong>US</strong>)</li>
    <li>Martín Álvarez Espinar, 
        <a href="http://fundacionctic.org/">CTIC</a> (<strong>Spain</strong>)
    </li>
    <li>Augusto Herrmann, 
        <a href="http://www.planejamento.gov.br/">
            Ministry of Planning, Budget and Management 
        </a>
        (<strong>Brazil</strong>)
    </li>
    <li>Jeanne Holm, 
        <a href="http://www.data.gov/">Data.gov</a> (<strong>US</strong>) 
    </li>
    <li>Martin Kaltenböck, 
        <a href="http://gov.opendata.at/site">Open Government Data Austria</a> 
        (<strong>Austria</strong>)
    </li>
    <li>Tariq Khokhar, 
        <a href="http://data.worldbank.org/">World Bank</a> (<strong>International</strong>)
    </li>
    <li>Sylvain Latour, 
        <a href=" http://www.tbs-sct.gc.ca">Canadian Government</a> (<strong>Canada</strong>)
    </li>
    <li>Tracey P. Lauriault,
        <a href="http://civicaccess.ca/">Civic Access</a>
        (<strong>Canada</strong>)
    </li>
    <li>Tom Lee, 
        <a href="http://sunlightfoundation.com/">Sunlight Foundation</a> (<strong>US</strong>)
    </li>
    <li>Cathrine Lippert, 
        <a href="http://en.itst.dk/">National IT and Telecom Agency</a>
        (<strong>Denmark</strong>)
    </li>
    <li>Luca Martinelli, 
        <a href="http://ec.europa.eu/information_society/index_en.htm">European Commission</a> 
        (<strong>Europe</strong>)
    </li>
    <li>James McKinney,
        <a href="http://opennorth.ca/">Open North</a>
        (<strong>Canada</strong>)
    </li>
    <li>Sverre-Andreas Lunde-Danbolt, 
        <a href="http://www.regjeringen.no/">Ministry of Government Administration and Reform</a>
        (<strong>Norway</strong>)
    </li>
    <li>Andrew McLaughlin, 
        <a href="http://civiccommons.org/">Civic Commons</a> 
        (<strong>US</strong>)
    </li>
    <li>Thomas Roessler, 
        <a href="http://www.w3.org/">W3C</a> (<strong>International</strong>)
    </li>
    <li>Paul Suijkerbuijk, 
        <a href="http://www.ictu.nl/">ICTU</a> (<strong>Netherlands</strong>)
    </li>
    <li>Ton Zijlstra, 
        <a href="http://www.epsiplatform.eu/">ePSIplatform</a> (<strong>Europe</strong>)
    </li>
</ul>
{% endblock %}

