<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta property="og:title" content="DataPortals.org - A Comprehensive List of Open Data Portals from Around the World" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dataportals.org/" />
    <meta property="og:image" content="https://dataportals.org/img/dataportals.jpg" />
    <meta name="description" content="DataPortals.org is the most comprehensive list of open data portals in the world. It is curated by a group of leading open data experts from around the world - including representatives from local, regional and national governments, international organisations such as the World Bank, and numerous NGOs.">
    <meta name="author" content="Open Knowledge">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %} - Data Portals</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/vendor/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/vendor/recline/vendor/leaflet/0.7.3/leaflet.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/vendor/recline/vendor/leaflet/0.7.3/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="/vendor/recline/vendor/leaflet.markercluster/MarkerCluster.css">
    <link rel="stylesheet" href="/vendor/recline/vendor/leaflet.markercluster/MarkerCluster.Default.css">
    <link rel="stylesheet" href="/vendor/recline/dist/recline.css">

    <link rel="stylesheet" href="/css/style.css" />

    <script defer data-domain="datacatalogs.org" src="https://plausible.io/js/plausible.js"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DataPortals.org</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add a Portal</a></li>
            <li><a href="/search">Browse</a></li>
            <li><a href="/contribute">Contribute</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="content">
        {% block content %}{% endblock %}

        <footer class="row">
          <p>This service is run by <a href="https://okfn.org">Open Knowledge Foundation</a> | <a href="https://github.com/okfn/dataportals.org">Source Code</a> | <a href="https://raw.githubusercontent.com/okfn/dataportals.org/master/data/portals.csv">Download Data (CSV)</a> | <a href="/api/data.json">Download Data (JSON)</a> | <a href="https://opendatacommons.org/licenses/pddl/1.0">Data License (Public Domain)</a> | <a href="https://okfn.org/privacy-policy/">Privacy Policy</a></p>
          <p>
            <a href="https://opendefinition.org/okd/" title="Open Data">
              <img src="https://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="" border="" />
            </a>
            <a href="https://opendefinition.org/ossd/" title="Open Online Software Service">
              <img src="https://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" border="" />
            </a>
          </p>
          <br>
          <p><a href="https://lod2.eu/" title="This project is supported by the EC funded LOD2 project"><img src="https://farm6.static.flickr.com/5249/5222467008_4e1a54ff89_t.jpg" alt="" /></a></p><br>
          <p><a href="https://okfn.org/" title="An Open Knowledge Foundation project"><img src="/img/landscape-grey-rgb.svg" alt="" style="max-width: 200px" /></a></p>
        </footer>
      </div><!-- /content -->
    </div><!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/vendor/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../vendor/bootstrap/3.3.7/js/ie10-viewport-bug-workaround.js"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
