/****************************************
  * Flash Messages / Notifications
  ***************************************/

.flash-banner button {
  float: right;
  font-size: 90%;
  padding: 2px 4px 2px 4px;
  margin: 0;
  line-height: 0.9;
}

/****************************************
  * Mini Tabs
  ***************************************/

ul.tabs li {
  display: inline;
}

ul.tabs li a {
  display: inline-block;
  padding: 2px 8px;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
  border: 1px solid transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

ul.tabs li a.selected {
  color: #333;
  background: white;
  border-color: #BBB;
  border-right-color: #DDD;
  border-bottom-color: #DDD;
}

/****************************************
  * Dataset Summaries
  ***************************************/

ul.dataset-tags, #content ul.dataset-tags {
  margin: 0;
  padding: 0;
}

ul.dataset-tags li {
    display:inline;
    margin:0;
    padding:0 5px 2px 5px;
    border:none;
    font-weight:normal;
    font-size:0.8em;
    color: black;
    background:#afc6e9;
}

ul.dataset-formats, #content ul.dataset-formats {
  margin: 0;
  padding: 0;
}

ul.dataset-formats li {
    display:inline;
    margin:0;
    padding:0 5px 2px 5px;
    border:none;
    font-weight:normal;
    font-size:0.8em;
    color: gray;
    background:#ececec;
}

ul.actions, #content ul.actions {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

ul.actions li {
    display:inline;
    margin: 0;
    padding: 2px 5px 2px 5px;
    border: none;
    font-weight: normal;
    font-size: 0.9em;
    background: #eee;
}

/****************************************
  * Dataset View
  ***************************************/

.dataset.view .tags {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subsection {
  margin-top: 15px;
}

.subsection > h3 {
  font-size: 1.9em;
  margin-bottom: 0.5em;
}

.notes-body h1, .notes-body h2, .notes-body h3, .notes-body h4, .notes-body h5 {
  font-size: 120%;
}

/****************************************
  * Config
  ***************************************/

#config-form input {
  line-height: 12px;
}

/****************************************
  * Search View
  ***************************************/

.results h3 {
  margin-top: 1em;
}

.results > p {
  margin-bottom: 0;
}

/****************************************
  * Dataset Edit/Create
  ***************************************/

div.dataset-form-navigation ul {
  background: #EEE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  border: 1px solid #CCC;
  padding: 5px 5px 5px 10px;
}

/****************************************
  * Forms
  ***************************************/

#content form dd, #content form dt {
  margin: 2px;
}

label {
  font-size: 110%;
}

form.dataset input, form.resource input {
  width: 200px;
}

legend h3 {
  padding: 0 6px;
  font-size: 1.1em;
}

fieldset {
  padding-bottom: 0;
}

.instructions {
  font-size: 75%;
}

form ul.tabs {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  padding-left: 0;
}

div.previewable-textarea {
  background: #EEE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  border: 1px solid #CCC;
  padding: 0 5px 0 10px;
}

div.preview {
  min-height: 80px;
  background: white;
  border: 1px solid #CCC;
  margin-bottom: 5px;
  padding: 5px;
}

form dl dd .preview ul {
  margin-left: 1.5em;
}

.hints {
  font-weight: normal;
}

p.hints {
  margin-bottom: 0;
}

/****************************************
  * Editable Material (Inline)
  ***************************************/

.editable-area:hover {
  background: #fffcc3;
}

.editable-area:hover:after {
  content: "Click to edit ...";
}

/****************************************
  * Resource Create
  ***************************************/

.resource-create table td {
  vertical-align: top;
}

.resource-create table .separator {
  background-color: #d2d2d2;
  width: 5px;
}
.resource-create table td.upload {
  padding-left: 10px;
}

.resource-create tr.heading td {
  text-align: center;
}

