html, body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: url(../img/hip-square.png);
}
body {
  padding-top: 36px;
}

h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

h4 {
  margin-top: 2rem;
  border-bottom: 1px solid #eee;
}

h5 {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-default .navbar-brand {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #337ab7;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #23527c;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
}

.page-header {
  background: linear-gradient(0deg, #eee 70%, #ccc);
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

ul {
  -webkit-padding-start: 0;
}

ul#curators li {
  margin-left: 2rem;
}

dd {
  margin-bottom: .6rem;
}

.break-url {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

footer {
  padding: 20px 20px 20px;
  margin: 15px -20px -20px;
  border-top: solid 1px #eee;
  text-align: center;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

footer ul li.logo img {
  max-height: 100px;
}

section {
  margin-bottom: 2rem;
}

section ol, section ul {
  background: #d4ecfa;
  line-height: 1.5rem;
  padding: 1rem 0;
  border-radius: .4rem;
}

section ol li, section ul li {
  margin-left: 2rem;
}

/********************************************************************
  * Form
  *******************************************************************/

.recline-query-editor {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.recline-query-editor label {
  display: none;
}

.recline-query-editor .text-query input {
  max-width: 100%;
}

.recline-query-editor button {
  display: none;
}

/********************************************************************
  * Dataset Summary
  *******************************************************************/

.catalog.summary {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: dotted 1px #ccc;
  font-size: 1rem;
  line-height: 1.5;
}

.catalog.summary .logo {
  width: 50px;
  float: right;
}

.catalog.summary h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

.catalog.summary h3 a {
  color: #333;
}

.catalog.summary .description {
  margin-bottom: 5px;
}

.catalog.summary .place {
  font-style: italic;
}

.catalog ul.keywords {
  list-style-type: none;
  margin: 0;
}

.catalog ul.keywords li {
  display: inline;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: .8rem;
  font-weight: bold;
  line-height: .8rem;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #55a1ce;
  margin-right: 3px;
}

/********************************************************************
  * Dataset Show
  *******************************************************************/

.catalog.show .logo {
  width: 100px;
  float: right;
}

.catalog.show .source {
  font-style: italic;
}

.catalog.show .actions {
  margin-bottom: 10px;
}

.catalog.show .viewer .recline-slickgrid {
  margin-top: 20px;
}

.catalog.show .viewer .recline-slickgrid {
  height: 500px;
}


a.inverted {
  color: #fff;
}

#overview-map {
  height: 500px;
}


/********************************************************************
  * Media Queries
  *******************************************************************/

  @media screen and (max-width: 768px) {
    .h1, h1 { font-size: 30px; }
    .h2, h2 { font-size: 26px; }
    .h3, h3 { font-size: 22px; }
    .h4, h4 { font-size: 18px; }
  }

  @media screen and (max-width: 480px) {
    .h1, h1 { font-size: 24px; }
    .h2, h2 { font-size: 20px; }
    .h3, h3 { font-size: 18px; }
    .h4, h4 { font-size: 18px; }
  }
