html, body {
  background-color: #eee;
}
body {
  padding-top: 40px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.navbar .nav > li > a {
  padding-top: 12px;
  font-weight: bold;
}

.navbar .brand {
  padding: 8px 20px 5px;
}

.navbar .brand img {
  height: 30px;
  margin-top: -3px;
}

.navbar .navbar-search {
  margin-top: 8px;
}

.navbar li.logo a {
  padding: 5px 10px 0px;
}

.navbar li.logo img {
  height: 30px;
}

footer {
  background-color: #f5f5f5;
  padding: 20px 20px 20px;
  margin: 15px -20px -20px;
  border-top: solid 1px #eee;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

footer ul li.logo img {
  max-height: 100px;
}


/********************************************************************
  * Form
  *******************************************************************/

.home-map .heading {
  margin-top: -6px;
}

/********************************************************************
  * Form
  *******************************************************************/

.recline-query-editor label {
  display: none;
}

.recline-query-editor .text-query input {
  width: 400px;
}

.recline-query-editor button {
  display: none;
}

/********************************************************************
  * Dataset Summary
  *******************************************************************/

.catalog.summary {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: dotted 1px #ccc;
  font-size: 16px;
  line-height: 20px;
}

.catalog.summary .logo {
  width: 50px;
  float: right;
}

.catalog.summary h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.5;
}

.catalog.summary h3 a {
  color: #333;
}

.catalog.summary .description {
  margin-bottom: 5px;
}

.catalog.summary .place {
  font-style: italic;
}

.catalog ul.keywords {
  list-style-type: none;
  margin: 0;
}

.catalog ul.keywords li {
  display: inline;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #55A1CE;
  margin-right: 3px;
}

.catalog ul.groups {
  list-style-type: none;
  margin: 0;
}

.catalog ul.groups li {
  display: inline;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #DFB100;
  margin-right: 3px;
}

.catalog ul.groups li a {
  color: white;
}

/********************************************************************
  * Dataset Show
  *******************************************************************/

.catalog.show .logo {
  width: 100px;
  float: right;
}

.catalog.show .source {
  font-style: italic;
}

.catalog.show .actions {
  margin-bottom: 10px;
}

.catalog.show .viewer .recline-slickgrid {
  margin-top: 20px;
}

.catalog.show .viewer .recline-slickgrid {
  height: 500px;
}


a.inverted {
  color: #fff;
}

