{% macro summary(catalog) -%}
  <div class="catalog summary">
    <h3>
      <a href="/portal/{{ catalog.name }}">{{ catalog.title }}</a>
    </h3>
    <div class="description">{{ catalog.description_html|safe }}</div>
    <ul class="keywords">
      {% for kw in catalog.tags or [] %}
        {% if kw %}
          <li>{{ kw }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{%- endmacro %}
