{% macro summary(catalog) -%}
  <div class="catalog summary">
    <img src="{{catalog.image or
      'http://assets.okfn.org/p/opendatahandbook/img/data-wrench.png'}}"
      alt="{{catalog.title}}" class="logo" />
    <h3><a href="/{{catalog.id}}">{{catalog.title}}</a></h3>
    <div class="description">{{catalog.description}}</div>
    <ul class="keywords">
      {% for kw in catalog.tags or [] %}
      <li>{{kw}}</li>
      {% endfor %}
    </ul>
    <ul class="groups">
      {% for kw in catalog.group or [] %}
      <li><a href="/group/{{kw}}">{{kw}}</a></li>
      {% endfor %}
    </ul>
  </div>
{%- endmacro %}

