{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>
      Data Catalogs
      <small>A Comprehensive List of <a href="http://opendefinition.org/">Open Data</a> Catalogs from Around the World</small>
    </h1>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="/search">{{total}} Data Catalogs listed &raquo;</a></h3>
    </div>
    <div class="span6">
      <img src="https://raw.github.com/okfn/ckanext-datacatalogs/master/ckanext/datacatalogs/public/ckanext-datacatalogs/images/home.jpg" alt="A Comprehensive List of Open Data Catalogs from Around the World" style="margin-right: -100px;" />
    </div>
  </div>
{% endblock %}
